@import 'tailwindcss';

@theme {
  --font-family-montserrat: 'Montserrat', sans-serif;
  --font-family-poppins: 'Poppins', sans-serif;

  --font-sans: var(--font-family-poppins);
}

html {
  min-height: 100%;
}

body {
  font-family: var(--font-family-poppins);
  background: linear-gradient(to bottom, #5a8673, #253a1a);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-montserrat);
}

.font-montserrat {
  font-family: var(--font-family-montserrat);
}

.font-poppins {
  font-family: var(--font-family-poppins);
}
